<!DOCTYPE html>
<html>
<head>
    <title>{{.title|html}}_阅读博客文章-{{.bc_basic.web_site_title|html}}</title>
    {{template "blog/common/head" .}}
    <link rel="stylesheet" type="text/css" href="/static/js/meditor/css/editormd.min.css">
    <link rel="stylesheet" type="text/css" href="/static/js/meditor/css/editormd.logo.min.css">
    <link rel="stylesheet" type="text/css" href="/static/js/meditor/css/editormd.preview.min.css">
</head>
<body>
{{template "blog/common/header" .}}
<main>
    {{template "blog/common/location" .}}
    {{.GMC_LAYOUT_CONTENT}}
</main>
{{template "blog/common/foot" .}}
<script src="/static/js/meditor/lib/marked.min.js"></script>
<script src="/static/js/meditor/lib/prettify.min.js"></script>
<script src="/static/js/meditor/lib/raphael.min.js"></script>
<script src="/static/js/meditor/lib/underscore.min.js"></script>
<script src="/static/js/meditor/lib/sequence-diagram.min.js"></script>
<script src="/static/js/meditor/lib/flowchart.min.js"></script>
<script src="/static/js/meditor/lib/jquery.flowchart.min.js"></script>
<script src="/static/js/meditor/editormd.min.js"></script>
{{template "layout/blog/init"}}
</body>
</html>