{{$controllerPath:="/catalog"}}
{{$idName:="catalog_id"}}
{{$adminPath:=.admPath}}
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-toolbar d-flex flex-column flex-md-row">
                    <div class="toolbar-btn-action">
                        <a class="btn btn-primary m-r-5" href="{{$adminPath}}{{$controllerPath}}/create"><i class="mdi mdi-plus"></i>
                            新增</a>
                        <a class="btn btn-danger m-r-5 ajax-post confirm" href="{{$adminPath}}{{$controllerPath}}/delete"
                           target-form="ids"><i class="mdi mdi-check"></i> 删除</a>
                    </div>
                    {{if .enable_search}}
                        <form class="search-bar ml-md-auto" method="get" action="" role="form">
                             <div class="input-group ml-md-auto">
								<div class="btn-group btn-group-xs">
									<input type="hidden" name="search_field">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"></button>
									<ul class="dropdown-menu" value="">
										<li><a class="dropdown-item" href="javascript:void(0);" value="name">姓名</a></li>
										<li><a class="dropdown-item" href="javascript:void(0);" value="age">年龄</a></li>
									</ul>
								</div>
                                <input type="text" class="form-control" name="keyword" placeholder="请输入">
								{{if .G.keyword}}
                                	<a class="btn btn-warning m-r-5" href="{{$adminPath}}{{$controllerPath}}/list"><i class="mdi mdi-check"></i> 重置</a>
                            	{{end}}
                            </div>
                        </form>
                    {{end}}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="check-all">
                                        <label class="custom-control-label" for="check-all"></label>
                                    </div>
                                </th>
                                <th>ID</th>
                                <th>目录名称</th>
                                <th>顶部导航</th>
                                <th>文章数</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range $row := .rows}}
                                <tr>
                                    <td class="order" title="拖动可排序">
                                        <div class="custom-control custom-checkbox" >
                                            <input type="checkbox" class="custom-control-input ids" name="ids"
                                                   value="{{val $row $idName}}"
                                                   id="ids-{{val $row $idName}}">
                                            <label class="custom-control-label" for="ids-{{val $row $idName}}"></label>
                                            <i class="custom-control mdi mdi-format-align-justify" style="padding:0"></i>
                                        </div>
                                    </td>
                                    <td><a href="{{$adminPath}}{{$controllerPath}}/detail?{{$idName}}={{val $row $idName}}">{{val $row $idName}}</a></td>
                                    <td>{{$row.name}}</td>
                                    <td>{{if eq $row.is_nav "0" }}<span class="badge badge-danger-light">否</span>{{else}}<span class="badge badge-success-light">是</span>{{end}}</td>
                                    <td><span class="badge badge-success-light">{{$row.total}}</span></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-xs btn-default"
                                               href="{{$adminPath}}{{$controllerPath}}/edit?{{$idName}}={{val $row $idName}}" title=""
                                               data-toggle="tooltip"
                                               data-original-title="编辑"><i class="mdi mdi-pencil"></i></a>
                                            <a class="btn btn-xs btn-default ajax-get confirm"
                                               href="{{$adminPath}}{{$controllerPath}}/delete?ids={{val $row $idName}}" title=""
                                               data-toggle="tooltip"
                                               data-original-title="删除"><i class="mdi mdi-window-close"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                    {{template "admin/paginator/default" .}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/sortable.js"></script>
<script>
    window.init.push(function(){
        Sortable.create($("tbody")[0], {
            animation: 150, // ms, animation speed moving items when sorting, `0` — without animation
            handle: ".order", // Restricts sort start click/touch to the specified element
            onUpdate: function (evt){
                var data={};
                $("tbody tr").each(function(i){
                    data[$(this).find("td").eq(0).find("input").attr("value")]=i;
                });
                $.post("{{$adminPath}}{{$controllerPath}}/saveorder",data);
            }
        });
    });
</script>