<div class="container-fluid p-t-15">

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            {{template "admin/config/common" .}}
            <div class="tab-content">
                <div class="tab-pane active">

                    <form action="{{.admPath}}/config/conf" method="post" name="edit-form" class="edit-form ajax-form">
                        <input type="hidden" name="key" value="upload"/>
                        <div class="form-group">
                            <label for="upload_file_ext">图片上传大小限制</label>
                            <input class="js-tags-input form-control" type="text" id="upload_file_ext" name="upload_file_ext" value="doc,docx,xls,xlsx,ppt,pptx,pdf,wps,txt,rar,zip,gz,bz2,7z" >
                            <small class="help-block">多个后缀用逗号隔开，不填写则不限制类型</small>
                        </div>
                        <div class="form-group">
                            <label for="upload_image_size">图片上传大小限制</label>
                            <input class="form-control" type="text" id="upload_image_size" name="upload_image_size" value="0" placeholder="请输入图片上传大小限制" >
                            <small class="help-block">0为不限制大小，单位：kb</small>
                        </div>
                        <div class="form-group">
                            <label for="upload_image_ext">允许上传的图片后缀</label>
                            <input class="js-tags-input form-control" type="text" id="upload_image_ext" name="upload_image_ext" value="gif,jpg,jpeg,bmp,png" >
                            <small class="help-block">多个后缀用逗号隔开，不填写则不限制类型</small>
                        </div>
                        <div class="form-group">
                            <label for="upload_file_size">文件上传大小限制</label>
                            <input class="form-control" type="text" id="upload_file_size" name="upload_file_size" value="0" placeholder="请输入文件上传大小限制" >
                            <small class="help-block">0为不限制大小，单位：kb</small>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary m-r-5">保 存</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>

</div>