{{$controllerPath:="/article"}}
<div class="card">
    <div class="card-body">
        <form class="form-horizontal ajax-form"
              action="{{.admPath}}{{$controllerPath}}/{{if .data}}edit{{else}}create{{end}}" method="post"
              enctype="application/x-www-form-urlencoded">
            {{if .data }}
                {{$name:="article_id"}}
                <input type="hidden" name="{{$name}}" id="{{$name}}" value="{{val .data $name}}">
            {{end}}
            <div class="form-group">
                {{$name:="catalog_id"}}
                <label for="{{$name}}">文章目录</label>
                <input type="hidden" name="{{$name}}" id="{{$name}}" value="">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"></button>
                <ul class="dropdown-menu" value="{{val .data "catalog_id" "0"}}">
                    {{range $c:=.catalogs}}
                        <li><a class="dropdown-item" href="javascript:void(0);"
                               value="{{$c.catalog_id}}">{{$c.name}}</a></li>
                    {{end}}
                </ul>
            </div>
            <div class="form-group">
                {{$name:="title"}}
                <label for="{{$name}}">文章标题</label>
                <input type="text" class="form-control" name="{{$name}}" id="{{$name}}" placeholder=""
                       value="{{val .data $name}}">
            </div>
            <div class="form-group">
                {{$name:="summary"}}
                <label for="{{$name}}">文章摘要</label>
                <input type="text" class="form-control" name="{{$name}}" id="{{$name}}" placeholder=""
                       value="{{val .data $name}}">
            </div>
            <div class="form-group">
                {{$name:="poster_url"}}
                <label for="{{$name}}">文章配图</label>
                <div class="input-group">
                    <input type="text" name="{{$name}}" id="{{$name}}"
                           class="form-control"
                           value="{{val .data $name}}">
                    <label class="input-group-btn">
                    <span class="btn btn-primary">
                        <i class="glyphicon glyphicon-folder-open"></i>
                        上传配图<input type="file" class="fileupload" name="file"
                                   data-input="#{{$name}}"
                                   data-url="{{.admPath}}/attachment/upload?compress=0&water=0"
                                   style="display: none;">
                    </span>
                    </label>
                </div>
            </div>
            {{if eq .showCreateTime "1"}}
                <div class="form-group">
                    {{$name:="create_time"}}
                    {{$time:=""}}
                    <label for="{{$name}}">发布时间 <small>可以选择未来时间，预发布</small></label>
                    <input {{if .data}} value="{{.data.create_time | date "2006-01-02 15:04:05"}}" {{end}}
                            class="form-control" type="text" data-provide="datetimepicker" name="create_time"
                            placeholder="发布时间" data-side-by-side="true" data-format="YYYY-MM-DD HH:mm:ss">
                </div>
            {{end}}
            <div class="form-group">
                {{$name:="content"}}
                <p>文章内容</p>
                <div id="mkeditor">
                    <textarea style="display:none;" name="{{$name}}" id="{{$name}}">{{val .data $name}}</textarea>
                </div>
            </div>
            <input type="hidden" name="referer" value="{{val .H "Referer"}}">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">
                    <span class="spinner-grow spinner-grow-sm" role="status" style="display: none;"
                          aria-hidden="true"></span>
                    {{if .data }}保存{{else}}添加{{end}}
                </button>
                <a href="javascript:history.back()" class="btn btn-default mb-2">返回</a>
            </div>
        </form>
    </div>
</div>
<script>
    function initPasteDragImg(Editor) {
        var doc = document.getElementById(Editor.id)
        doc.addEventListener('paste', function (event) {
            var items = (event.clipboardData || window.clipboardData).items;
            var file = null;
            if (items && items.length) {
                // 搜索剪切板items
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf('image') !== -1) {
                        file = items[i].getAsFile();
                        break;
                    }
                }
            } else {
                console.log("当前浏览器不支持");
                return;
            }
            if (!file) {
                console.log("粘贴内容非图片");
                return;
            }
            uploadImg(file, Editor,"1");
        });

        var dashboard = document.getElementById(Editor.id)
        dashboard.addEventListener("dragover", function (e) {
            e.preventDefault()
            e.stopPropagation()
        })
        dashboard.addEventListener("dragenter", function (e) {
            e.preventDefault()
            e.stopPropagation()
        })
        dashboard.addEventListener("drop", function (e) {
            e.preventDefault()
            e.stopPropagation()
            var files = this.files || e.dataTransfer.files;
            uploadImg(files[0], Editor);
        })
    }

    function uploadImg(file, Editor,fromPaste) {
        fromPaste=fromPaste||""
        var formData = new FormData();
        var fileName = new Date().getTime() + "." + file.name.split(".").pop();
        formData.append('editormd-image-file', file, fileName);
        $.ajax({
            url: Editor.settings.imageUploadURL+"?from="+fromPaste,
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: function (msg) {
                var success = msg['success'];
                if (success == 1) {
                    var url = msg["url"];
                    if (/\.(png|jpg|jpeg|gif|bmp|ico|webp)$/.test(url)) {
                        Editor.insertValue("![](" + msg["url"] + ")");
                    } else {
                        Editor.insertValue("[下载附件](" + msg["url"] + ")");
                    }
                } else {
                    console.log(msg);
                    alert("上传失败");
                }
            }
        });
    }
    window.init.push(function () {
        var mkeditor;
        $(function () {
            mkeditor = editormd("mkeditor", {
                width: "100%",
                height: 640,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "{{.admPath}}/attachment/upload",
                tocm: true,
                tocTitle: "目录导航",
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
                codeFold: true,
                htmlDecode: "style,script,iframe",
                syncScrolling: "single",
                path: "/static/js/meditor/lib/",
                onload : function() {
                    initPasteDragImg(this);
                }
            });
        });
    })
</script>