<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{{val . "title"}}</title>
    {{template "admin/common/head" .}}
</head>
<body>
{{.GMC_LAYOUT_CONTENT}}
{{template "admin/common/foot"}}

{{/* markdown editor */}}
<link rel="stylesheet" type="text/css" href="/static/js/meditor/css/editormd.min.css">
<link rel="stylesheet" type="text/css" href="/static/js/meditor/css/editormd.logo.min.css">
<link rel="stylesheet" type="text/css" href="/static/js/meditor/css/editormd.preview.min.css">
{{/* tags */}}
<link rel="stylesheet" type="text/css" href="/static/js/jquery-tagsinput/jquery.tagsinput.min.css">
<script type="text/javascript" src="/static/js/jquery-tagsinput/jquery.tagsinput.min.js"></script>

{{/*datatime picker*/}}
<link href="/static/css/materialdesignicons.min.css" rel="stylesheet">
<link href="/static/js/bootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet">
<link href="/static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/static/js/bootstrap-clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet">
<!--日期选择器-->
<script type="text/javascript" src="/static/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!--时间日期选择器-->
<script type="text/javascript" src="/static/js/moment.js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/js/moment.js/locale/zh-cn.min.js"></script>
<!--时间选择器-->
<script type="text/javascript" src="/static/js/bootstrap-clockpicker/bootstrap-clockpicker.min.js"></script>

{{/* file upload plugin */}}
<script src="/static/js/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery-file-upload/js/jquery.fileupload.js"></script>

<script type="text/javascript" src="/static/js/main.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
<script type="text/javascript" src="/static/js/meditor/editormd.min.js"></script>
<script type="text/javascript" src="/static/js/init.js"></script>
</body>
</html>