<article>
    <div class="new_blog">
        <ul class="blogs">
            {{range $catalog:=.catalogs}}
            <li>
                <a href="/list/{{$catalog.catalog_id}}">
                    <i><img src="/static/style/00{{$catalog.rand}}.jpg"></i>
                    <h2>{{$catalog.name}}</h2>
                </a>
                <p class="blog_smalltext">{{if eq $catalog.total "0"}}还没文章哟。{{else}}有 {{$catalog.total}} 篇文章{{end}}</p>
                <p class="blog_info"></p>
            </li>
            {{end}}
        </ul>
    </div>
</article>