<div class="bg-translucent p-2">
    <div class="flex-box bg-white login-box">
        <div class="login-left p-5">

            <div class="text-center mb-3 d-sm-none">
                <a href="index.html"> <img alt="light year admin" src="/static/images/logo-sidebar.png"> </a>
            </div>
            <form action="{{.admPath}}/login/auth" method="post" class="login-form ajax-form">
                <div class="form-group has-feedback">
                    <span class="mdi mdi-account" aria-hidden="true"></span>
                    <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                </div>

                <div class="form-group has-feedback">
                    <span class="mdi mdi-lock" aria-hidden="true"></span>
                    <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                </div>

                <div class="form-group has-feedback row">
                    <div class="col-7">
                        <span class="mdi mdi-check-all form-control-feedback" aria-hidden="true"></span>
                        <input type="text" name="captcha" class="form-control" placeholder="验证码">
                    </div>
                    <div class="col-5 text-right">
                        <img src="{{.admPath}}/login/captcha" class="pull-right" id="captcha" style="cursor: pointer;" onclick="this.src=this.src+'?d='+Math.random();" title="点击刷新" alt="captcha">
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-block btn-primary" type="submit">立即登录</button>
                </div>
            </form>
        </div>
        <div class="login-right p-5 d-none d-sm-block">
            <p class="mb-3"><img src="/static/images/logo.png" class="m-b-md m-t-xs" alt="logo" /></p>
            <p class="text-white">此系统使用 <a class="text text-warning" href="https://github.com/snail007/gmc" href="_blank">GMC</a> 框架构建工具 GMCT 生成。界面采用 Light Year Admin 。</p>
            <p class="text-white align-self-end">Copyright © {{now | date "2006"}} <a class="text text-warning" href="https://github.com/snail007/gmc">snail007/gmc</a>. All right reserved</p>
        </div>
    </div>
</div>