<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="{{.bc_basic.web_site_keywords|html}}" />
<meta name="description" content="{{.bc_basic.web_site_description|html}}" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" href="/static/style/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/static/style/favicon.ico" type="image/x-icon"/>
<link href="/static/style/base.css" rel="stylesheet">
<script src="/static/style/jquery.js"></script>
<script>window["init"]=[];</script>